@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-title);
  --font-body: var(--font-body);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
  --animate-grid: grid 15s linear infinite;
  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --color-color-5: var(--color-5);
  --color-color-4: var(--color-4);
  --color-color-3: var(--color-3);
  --color-color-2: var(--color-2);
  --color-color-1: var(--color-1);
  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1684 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1684 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1684 0 0);
  --primary: oklch(77.587% 0.12938 51.682);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.73 0.1466 38.9081);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.967 0.0029 264.5419);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.6965 0.1649 31.7688);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6696 0.1862 26.3941);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.7759 0.1294 51.7024);
  --chart-1: oklch(0.8136 0.1222 66.9209);
  --chart-2: oklch(0.7759 0.1294 51.7024);
  --chart-3: oklch(0.73 0.1466 38.9081);
  --chart-4: oklch(0.6965 0.1649 31.7688);
  --chart-5: oklch(0.6696 0.1862 26.3941);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.1684 0 0);
  --sidebar-primary: oklch(0.7759 0.1294 51.7024);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6965 0.1649 31.7688);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.7759 0.1294 51.7024);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 0px 30px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 0px 30px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 0px 30px 0px hsl(0 0% 0% / 0.5);
  --tracking-normal: 0.025em;
  --color-1: oklch(66.2% 0.225 25.9);
  --color-2: oklch(60.4% 0.26 302);
  --color-3: oklch(69.6% 0.165 251);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(90.7% 0.231 133);
}

.dark {
  --background: oklch(0.1684 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2046 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2046 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.7759 0.1294 51.7024);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.73 0.1466 38.9081);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.5555 0 0);
  --accent: oklch(0.6965 0.1649 31.7688);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6696 0.1862 26.3941);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2686 0 0);
  --input: oklch(0.2686 0 0);
  --ring: oklch(0.7759 0.1294 51.7024);
  --chart-1: oklch(0.8136 0.1222 66.9209);
  --chart-2: oklch(0.7759 0.1294 51.7024);
  --chart-3: oklch(0.73 0.1466 38.9081);
  --chart-4: oklch(0.6965 0.1649 31.7688);
  --chart-5: oklch(0.6696 0.1862 26.3941);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.7759 0.1294 51.7024);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6965 0.1649 31.7688);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2686 0 0);
  --sidebar-ring: oklch(0.7759 0.1294 51.7024);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 0px 30px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 0px 30px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0px 0px 30px 0px hsl(0 0% 0% / 0.2),
    0px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 0px 30px 0px hsl(0 0% 0% / 0.5);
  --color-1: oklch(0.7759 0.1294 51.7024);
  --color-2: oklch(0.73 0.1466 38.9081);
  --color-3: oklch(0.6965 0.1649 31.7688);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(0.7759 0.1294 51.7024);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
